/* @font-face {
  font-family: "Press Start P2";
  src: url('../..//fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('ttf');
  font-weight: normal;
} */

h1 {
  font-family: "Press Start 2P", sans-serif;
}

.App {
  background-color: var(--main-bg-color);
  width: 90%;
  margin: 15px auto;
  border: 18px solid transparent;
  border-radius: 18px;
  border-image: url('../../images/border.png') 20 stretch;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
