.App {
  background-color: var(--main-bg-color);
  width: 90%;
  margin: 15px auto;
  border: 18px solid transparent;
  border-radius: 18px;
  border-image: url('../../images/border.png') 20 stretch;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text-color);
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  color: var(--main-text-color);
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}