.character-cards {
    text-align: center;
}
.character-card {
    display: inline-block;
    width: max-content;
    & :hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

a {
    text-decoration: none;
    color: var(--main-text-color)
}

.loading-screen {
    text-align: center;
    & .loading-message {
        font-weight: 300;
        color: var(--sec-bg-color)
    }
}

.loading-image {
    width: 80px;
}

/* section {
    display: inline-block;
    width: max-content;
    & :hover {
        cursor: pointer;
        transform: scale(1.2);
    }
} */