body {
  margin: 0;
  background-image:url(./images/stardewvalley.png);
  background-attachment: fixed;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
