*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #FFEBB7;
  --sec-bg-color: #AD8E70;
  --main-acc-color: #FF6E31;
  --sec-acc-color: #F5ADC1;
  --main-text-color: #243763;
  --sec-text-color: #FFEBB7;
  --rounded-border: 12px;
  --border-style: #243763 solid 2px;
  --main-drop-shadow: drop-shadow(15px 15px #AD8E70);
  --sec-drop-shadow: drop-shadow(10px 10px #243763);
}

body {
  margin: 0;
  background-image:url(./images/stardewvalley.png);
  background-attachment: fixed;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
