.nav-bar {
    display: flex;
    flex-direction: column;
    & a {
        font-size: 1.4rem;
        padding: 10px;
    }
    & .active {
        text-shadow: var(--sec-bg-color) 2px 0 5px;
    }
}

.links {
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.vl {
  border-left: .5px solid var(--sec-bg-color);
}

hr {
    border: .5px solid var(--sec-bg-color);
    margin: 0 auto;
    width: 90%
}